.footer{
  position: relative;
  height: 150px;
  display: flex;
  justify-content: center;

}

.button-area{
  position: absolute;
  left: 45px;
  top: 88px;
  width: 78px;
  height: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.button-area img{
  width: 65%;
  height: 65%;
  object-fit: contain;
}

.current-playlist-menu{
  position: absolute;
  width: 40px;
  height: 36px;
  left: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.current-playlist-menu img{
  width: 62%;
  height: 62%;
  object-fit: contain;
}