/*Container-SideController*/

.side-controller{
  position: relative;
  width: 50%;
  height: 100%;
  min-width: 550px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  overflow: hidden;
  background-color: #F0E8E8;
  outline: 2px solid black;/*임시*/
}

@media (max-width: 600px) and (max-height: 600px){
  .side-controller {
    width: 100vw; /* 화면이 충분히 좁아지면 SideController를  */
  }
}