.side-container-contents{
  width: 100%;
  height: 80%;

  background-color: #E7E2E2;
  outline: 2px solid black;/*임시*/
}

.music-wrapper{
  width: 100%;
  height: 80px;

  display: flex;
  justify-content: center;
  align-items: center;
  outline: 2px solid black;/*임시*/

}